/* .error {
  display: block;
  color: #FF6060;
  font-size: 150px;
  font-family: 'Montserrat';
  margin-bottom: 100px;
  font-weight: bold;

} */

.error {
    color: #FF6060;
    margin-top: 100px;
    font-size: 200px;
    margin-bottom: 200px;
    font-family: 'Montserrat';
    font-weight: 700;

}

p {
    color: #FF6060;
    margin-bottom: 100px;
}

.retour-accueil {
  background: none;
  border: none;
  text-decoration: underline;
}
/* main {
  margin-bottom: 100px;
} */