/* .text-content {
  width: 100%;
  background-color: #F6F6F673;
  border-radius: 10px;

  max-height: 0;
  overflow: hidden;

}

.text-content.ouvert {
  max-height: 500px;
}

article {
  display: flex;
  flex-direction: column;
    margin-bottom: 20px;

}

.content {

padding-left: 8%;
padding-right: 8%;

}

*/

/* .icons.false {

} */

.text-content.false {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  width: 100%;
  background-color: #F6F6F673;
}

.text-content.true {
  max-height: 500px;
  padding: 2%;
  background-color: #F6F6F673;

}

/* Rotation de la flèche */
.icons.false {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.icons.true {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.content {

padding-left: 8%;
padding-right: 8%;

}

article {
  display: flex;
  flex-direction: column;
    margin-bottom: 20px;

}

.text-content p {
  color: black;
  text-align: start;
} 

